.Order {
  width: 100%;
  max-width: 750px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 20px auto;
  box-sizing: border-box;
}

.Order:first-of-type {
  margin-top: 10px;
}

.Order span {
  text-transform: capitalize;
  display: inline-block;
  margin: 0 5px 5px;
  padding: 5px;
  border: 1px solid #ccc;
}
