.InputWrapper {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.Input {
  width: 100%;
  display: block;
  padding: 6px 10px;
  font: inherit;
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.Input:focus {
  outline: none;
  background-color: #eee;
}

.Invalid {
  border-color: red;
  background-color: salmon;
}
